# dependencies
node_modules
.pnpm-store

# next.js
.next
out

# testing
.lighthouseci
coverage
playwright-report
test-results

# velite
.velite

# env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
.lighthouseci